.walls-section {
  height: calc(100% - 91px);
  position: relative;

  .map-wrapper,
  .map-container {
    height: 100%;
  }

  @media (max-width: 768px) {
    .map-container {
      height: 50%;
    }
  }
}
