.marker-meta-wrapper {
  position: absolute;
  height: auto;
  top: 15px;
  right: 55px;
  width: 25%;
  z-index: 10;
  bottom: 20px;
  overflow: scroll;

  .marker-content {
    position: relative;
  
    .fa-times {
      display: none;
    }
  }

  p {
    font-size: 12px;
    line-height: 1.5;
  }

  .meta-item {
    margin-bottom: 10px;
    text-align: left;
  }

  @media (max-width: 768px) {
    display: none;

    &.active {
      display: block;
      top: 0;
      width: auto;
      bottom: 0;
      left: 0;
      right: 0;
    }

    .marker-content {
      padding: 50px 15px;

      .fa-times {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
      }
    }
  }
}