.marker-meta-wrapper {
  position: absolute;
  height: auto;
  top: 15px;
  right: 55px;
  width: 25%;
  z-index: 10;
  bottom: 20px;
  overflow: auto;

  &.fade-enter-active,
  &.fade-leave-active {
    transition: opacity 1s;
  }

  &.fade-enter,
  &.fade-leave-to {
    opacity: 0
  }

  .marker-content {
    position: relative;
  
    .fa-times {
      display: none;
      font-size: 20px;;
    }

    .no-info {
      font-size: 12px;
    }

    .scales-wrapper {
      display: flex;
      flex-wrap: wrap;

      .scale-item {
        display: none;
        margin-right: 5px;
        padding: 3px 10px;
        border-radius: 5.5px;;
        font-size: 12px;
        border: 1px solid #000;
        color: #000;

        &.active {
          display: block;
        }
      }
    }
  }

  p {
    font-size: 12px;
    line-height: 1.5;
  }

  .meta-item {
    margin-bottom: 10px;
    text-align: left;

    .meta-title {
      color: #000;
    }
  }

  @media (max-width: 768px) {
    position: fixed;
    bottom: 39px;
    top: 100%;
    width: auto;
    left: 0;
    right: 0;
    transition: top 1s;

    &.active {
      top: 52px;
    }

    .marker-content {
      padding: 40px 20px 20px;

      .fa-times {
        display: block;
        position: absolute;
        top: 0px;
        right: 0px;
      }
    }
  }
}