.marker-meta-wrapper {
  position: absolute;
  height: auto;
  top: 15px;
  right: 55px;
  width: 25%;
  z-index: 10;
  bottom: 20px;
  overflow: scroll;

  &.fade-enter-active,
  &.fade-leave-active {
    transition: opacity 1s;
  }

  &.fade-enter,
  &.fade-leave-to {
    opacity: 0
  }

  .marker-content {
    position: relative;
  
    .fa-times {
      display: none;
      font-size: 20px;;
    }
  }

  p {
    font-size: 12px;
    line-height: 1.5;
  }

  .meta-item {
    margin-bottom: 10px;
    text-align: left;
  }

  @media (max-width: 768px) {
    top: 0;
    width: 100%;
    bottom: 0;
    right: 100%;
    transition: right 1s;

    &.active {
      display: block;
      right: 0;
    }

    &.fade-enter-active,
    &.fade-leave-active {
      transition: opacity 0s;
    }

    .marker-content {
      padding: 50px 15px;

      .fa-times {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
      }
    }
  }
}