.add-wall-section {
  height: calc(100% - 100px);

  .add-wall-container {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    overflow: auto;
    
    .map-container,
    .form-container {
      flex-basis: 50%;
      flex-shrink: 0;
    }
    
    .map-container {
      height: 100%;  
      
      &.active {
        display: block;
      }
      
      .address-search {
        display: flex;
        margin-bottom: 10px;
        
        .input {
          margin-right: 10px;
          flex-grow: 1;
        }
      }
      
      .map-wrapper {
        height: 100%;
      }
    }
    
    .form-container {
      padding: 15px 20px;
      margin: 0 auto;
      
      .label,
      .input,
      .checkbox {
        font-size: 12px;
      }
      
      form {
        .personal-details-wrapper,
        .map-details-wrapper {
          display: none;
          
          &.active {
            display: block;
          }
        }

        .row {
          display: flex;
          margin-bottom: 0;

          .search-field {
            flex-grow: 1;
            margin-right: 15px;
          }
        }

        .field {
          margin-bottom: 17px;
        }
        
        .next-button,
        .submit-button,
        .back-button {
          background-color: #333;
          color: #FFF;
          border-color: #333;
          border-radius: 10px;
          margin-top: 7px;
          
          &:hover {
            opacity: 0.6;
          }
        }
        
        .back-button {
          background-color: #FFF;
          color: #333;
        }
        
        .checkbox-wrapper {
          input[type=checkbox],
          input[type=radio] {
            display: none;
          }
          
          .checkbox {
            margin-right: 5px;
            padding: 5px 10px;
            border-radius: 5.5px;;
            border: 1px solid #CCC;
            color: #CCC;
            
            &:hover {
              border-color: #000;
              color: #000;
            }
          }
          
          input[type=checkbox]:checked + .checkbox,
          input[type=radio]:checked + .checkbox {
            border-color: #000;
            color: #000;
          }  
        }
        
        .fa-upload {
          color: #666;
          font-size: 13px;
        }
      }
    }
    
    @media (max-width: 768px) {
      .map-container,
      .form-container {
        flex-basis: 100%;
      }

      .map-container,
      .map-wrapper {
        height: 300px;
      }

      .form-container {
        form {
          .field {
            margin-bottom: 10px;
          }

          .checkbox-wrapper {
            .checkbox {
              margin-bottom: 5px;
            }
          }
        }
      }
    }
  }
}